<!doctype html>
<html lang="es">
    <head>
        <title>{{{title}}}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="apple-mobile-web-app-capable" , content="yes">
        <meta name="description" content="Red Social de recetas">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <link rel="Shortcut Icon" href="" type="image/x-icon">
        <link rel="stylesheet" href="/stylesheets/materialize.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link rel='stylesheet' , type='text/css' , href='/stylesheets/index.css'>
    </head>
    <body>
        <header id="navbar">
            <div class="login_div" id="login_div">
                <div class="row a">
                    <p class="titulo">Bienvenid@, Ingresa con  tu red social preferida</p>
                </div>
                <div class="row b">
                    <div class="col">
                        <a class="btn facebook" id="btn_facebook"  href="/auth/facebook"><i class="fab fa-facebook-f"></i>Facebook</a>
                    </div>
                    <div class="col">
                        <a class="btn google" id="btn_google"><i class="fab fa-google"></i>Google</a>
                    </div>
                    <div class="col">
                        <a class="btn correo" id="btn_correo"><i class="fab fa-mailchimp"></i>Correo</a>
                    </div>
                </div>
            </div>
            <nav>
                <div class="logo">
                    <p>Comida Típica</p>
                </div>
                <div class="busqueda">
                    <input type="text" id="criterio_busqueda" placeholder="Ingresa el criterío de búsqueda" class="input_busqueda browser-default">
                </div>
                <div class="usuario">
                    <div class="menu">
                        <i id="btn_menu_top"  class="fas fa-arrow-circle-down"></i>
                    </div>
                    <div class="user">
                        <i class="fas fa-user"></i>
                    </div>
                </div>
            </nav>
        </header>
        <div class="main">
            <p>Aquí se listaran las recetas</p>
        </div>
        <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
        <script src="/javascripts/materialize.min.js"></script>
	    <script src="/javascripts/index.js"></script>
    </body>
</html>