body {
  padding: 0;
  margin: 0;
}

.login_div {
  position: absolute;
  height: 7vw;
  transform: translateY(-100%);
  width: 100%;
  z-index: 100;
  background: #fff;
  top: 0;
  transition: all .5s .5s;
}

.login_div.active {
  transform: translateY(0%);
  transition: all .5s .5s;
}

.login_div .row.a {
  margin: 0;
  display: flex;
  height: 3vw;
  align-items: flex-end;
}

.login_div .row.a .titulo {
  width: 100%;
  margin: 0;
  text-align: center;
  font-size: 1vw;
  font-weight: 800;
}

.login_div .row.b {
  margin: 0;
  height: 4vw;
  display: flex;
  align-content: center;
  flex-flow: column wrap;
}

.login_div .row.b .col {
  height: 100%;
  padding: 0 1vw;
  display: flex;
  align-items: center;
}

.login_div .row.b .col a i  {
  font-size: 1vw;
  margin-right: .5vw;
}

.login_div .row.b .col a.facebook {
  height: 2vw;
  font-size: 1vw;
  text-transform: none;
  line-height: 2vw;
  background: #3b5998 !important;
}

.login_div .row.b .col a.google {
  height: 2vw;
  font-size: 1vw;
  text-transform: none;
  line-height: 2vw;
  background: #db4a39 !important;
}

.login_div .row.b .col a.correo {
  height: 2vw;
  font-size: 1vw;
  text-transform: none;
  line-height: 2vw;
  background: #ee6e73 !important;
}

nav {
  height: 4vw;
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  background: #8cc63e !important;
  margin-top: 0;
  transition: all .5s .5s;
}

header {
  transition: all .5s .5s;
}

header.active {
  transition: all .5s .5s;
}

header.active nav {
  margin-top: 7vw;
  transition: all .5s .5s;
}

nav .logo {
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 2vw;
}

nav .logo p {
  margin: 0;
  font-size: 1vw;
  font-weight: 800;
}

nav .busqueda {

}

nav .busqueda input {
  padding: .6vw 1vw;
  width: 25vw;
  border: none;
  border-radius: .6vw;
  font-size: .9vw;
}

nav .usuario {
  display: flex;
  height: 100%;
  flex-flow: column wrap;
  align-content: space-evenly;
  width: 6vw;
}

nav .usuario .menu {
  height: 100%;
  display: flex;
  align-items: center;
}

nav .usuario .menu i {
  font-size: 1.3vw;
  line-height: 1.3vw;
  display: block;
  height: auto;
}

nav .usuario .menu i:hover  {
  cursor: pointer;
}

nav .usuario .user {
  height: 100%;
  display: flex;
  align-items: center;
}

nav .usuario .user i {
  font-size: 1.3vw;
  line-height: 1.3vw;
  display: block;
  height: auto;
}

nav .usuario .user i:hover {
  cursor: pointer;
}